input {
    width: 100% !important;
    margin: 0 !important;
}
.parsley-error {
    border-color: #f46a6a !important;
}
.parsley-errors-list>li {
    font-size: 12px;
    list-style: none;
    color: #f46a6a;
    margin-top: 5px;
}
.parsley-errors-list {
    margin: 0 !important;
}

/* list page */
.search-box {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
.search-box input {
    width: 30% !important;
}
.list-col {
    border-color: rgba(225, 225, 225, .25);
    background: #67615c;
    border-radius: 4px;
    margin-bottom: 30px;
}
.cover-img img {
    animation: pm-popup-out 4s ease-out 1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.avatar-img {
    text-align: center;
    margin-top: -70px;
}
.avatar-img img{
    background-color: rgba(255, 255, 255, .25);
    padding: 10px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
.member-name {
    padding: 10px;
    background-color: rgba(255, 255, 255, .25);
    text-align: center;
}
.member-name a{
    color: #fff;
}
.member-name a:hover {
    color: #fff;
}
.pagination {
    list-style: none !important;
}
.page-link {
    border-radius: 30px !important;
    margin: 0 3px !important;
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    line-height: 32px;
}

/* spinner */
@keyframes spinner-border {
    to {
      transform: rotate(360deg); /* rtl:ignore */
    }
  }
  #spinner-container {
    position: fixed; /* Fixed positioning to keep it in view */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the spinner's size */
    z-index: 9999; /* Ensure it appears above other content */
    display: none; /* Initially hidden */
}  
.spinner-border {
    display: inline-block;
    width: 2rem; /* Replace with your desired width */
    height: 2rem; /* Replace with your desired height */
    vertical-align: middle; /* Replace with your desired vertical alignment */
    border: 0.25em solid currentColor; /* Replace with your desired border width */
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite; /* Replace with your desired animation speed */
}

/* details page */
.header-section {
    background-color: #23201d;
    border-radius: 6px;
    border-color: rgba(225, 225, 225, .25);
    border-style: solid;
    height: 500px;
}
.header-section .cover-img {
    overflow: hidden;
    height: 300px;
}
.header-section .cover-img img {
    object-fit: cover;
}
.profile-img {
    position: absolute;
    width: auto;
    left: 30px;
    top: 329px;
    line-height: 1 !important;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    max-width: 180px;
    /* margin: 20px 0; */
}
.profile-img img {
    -webkit-border-radius: 100%;
    width: 150px;
    height: 150px !important;

}
.profile-title {
    width: 24%;
    margin: 56px 0 0 180px;
}
.profile-title p{
    margin: 0;
}
.member-wrapper{
    /* min-height: 520px; */
}
.member-wrapper .member-description {
    border-width: 0 0 1px 0;
    border-color: rgba(225, 225, 225, .25);
    padding: 1em;
    border-bottom: 1px solid;
    display: flex;
}
.member-description .member-label {
    text-transform: uppercase;
    font-size: 86%;
    width: 30%;
    padding-left: 10px;
    position: relative;
    float: left;
}
.member-description .member-value {
    width: 68%;
    margin-left: 2%;
    color: #969696;
}
.nav-pills .nav-link {
    background: 0 0;
    color: #000;
    box-shadow: none;
}
/*Profile Pic Start*/
.picture-container{
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture{
    width: 100px;
    height: 100px;
    color: #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    margin: 0 auto;
}
.picture:hover{
    border-color: #2ca8ff;
}
.content.ct-wizard-green .picture:hover{
    border-color: #05ae0e;
}
.content.ct-wizard-blue .picture:hover{
    border-color: #3472f7;
}
.content.ct-wizard-orange .picture:hover{
    border-color: #ff9500;
}
.content.ct-wizard-red .picture:hover{
    border-color: #ff3b30;
}
.picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.picture-src{
    width: 100%;
    height: 100px !important;
    object-fit: cover;
}
/* responsive */
@media only screen and (max-width: 768px) {
    .search-box input {
        width: 100% !important;
    }
  }